﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-info" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> @User.Identity.Name </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-info">cerrar sesión</button>
            </form>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-info" asp-area="Identity" asp-page="/Account/Register">Registrarme</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-info" asp-area="Identity" asp-page="/Account/Login">Iniciar sesión 🚪</a>
        </li>
    }
</ul>
