﻿@model IEnumerable<SoloMastersWeb.Models.MasterPost>


@{
    ViewData["Title"] = "ClientView";
}


<div class="jumbotron bg-warning" style="width:100%">
    <h1>Bienvenido Cliente 😎 </h1>
    <h3>A continuacion podras ver todos los servicios de los maestros disponibles </h3>
    <p>  Buscador :</p>
    <form asp-action="BuscadorServicio">
        <div class="form-group">
            <label for="PalabraBuscada" class="control-label"></label>
            <input name="PalabraBuscada" class="form-control" placeholder="Ingresa palabra clave" />
            <br />
            <input type="submit" value="Buscar" class="btn btn-dark text-warning" style="width:100%" />
        </div>
    </form>
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Usuario-Maestro
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.masterPostTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.masterOwner)
                </td>
                <td>
                    <a asp-action="ClientDetails" asp-route-id="@item.masterPostId" class="btn btn-warning" style="width:100%">Var mas 👀</a>
                </td>
            </tr>
        }
    </tbody>
</table>
