﻿@model SoloMastersWeb.Models.MasterPost

@{
    ViewData["Title"] = "ClientDetails";
}

<h1>Detalles del Servicio</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Titulo del servicio
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.masterPostTitle)
        </dd>
        <dt class="col-sm-2">
            Descripcion
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.masterPostDescription)
        </dd>
        <dt class="col-sm-2">
            Contacto-Maestro
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.masterOwner)
        </dd>
        <dt class="col-sm-2">
            Fecha de publicacion
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.masterPostDate)
        </dd>
        <dt class="col-sm-2">
            Foto de Servicio:
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.imgUrl)" height="200" width="300" />
        </dd>
    </dl>
</div>
<div>
    <a asp-area="" asp-controller="MasterPosts" asp-action="ClientView" class="btn btn-dark text-warning" style="width:100%">Volver atras</a>
</div>
