﻿@model SoloMastersWeb.Models.MasterPost

@{
    ViewData["Title"] = "Create";
}


@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<h1>Crea un aviso y muestra tus habilidades al mundo!</h1>
<p>(Tu nombre de usuario y la fecha de publicacion se agrega automaticamanete)</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="masterPostTitle" class="control-label">Titulo</label>
                <input asp-for="masterPostTitle" class="form-control" />
                <span asp-validation-for="masterPostTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="masterPostDescription" class="control-label">Descripcion</label>
                <input asp-for="masterPostDescription" class="form-control" />
                <span asp-validation-for="masterPostDescription" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="masterOwner" class="form-control" type="hidden" value="@User.Identity.Name" />
                <span asp-validation-for="masterOwner" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="masterPostDate" class="form-control" type="hidden" value="@DateTime.Now" />
                <span asp-validation-for="masterPostDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imgUrl" class="control-label">Ruta de imagen</label>
                <input asp-for="imgUrl" class="form-control" />
                <span asp-validation-for="imgUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
               <input type="submit" value="Crear" class="btn btn-warning" style="width:100%" id="create" />
                <a asp-action="Index" class="btn btn-dark text-warning" style="width:100%">volver atras</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
