﻿@model SoloMastersWeb.Models.MasterPost

@{
    ViewData["Title"] = "Delete";
}


<h1>Eliminar tu publicacion de tu servicio</h1>
<h3 class="text-danger">Aviso : Esta accion eliminara tu aviso permanentemente!</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Titulo del servicio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.masterPostTitle)
        </dd>
        <dt class="col-sm-2">
            Descripcion
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.masterPostDescription)
        </dd>
        <dt class="col-sm-2">
            Usuario-Maestro relacionado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.masterOwner)
        </dd>
        <dt class="col-sm-2">
            Fecha de publicacion
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.masterPostDate)
        </dd>
        <dt class = "col-sm-2">
            Ruta de imagen
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imgUrl)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="masterPostId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" style="width:100%" />
        <hr />
        <a asp-action="Index" class="btn btn-dark" style="width:100%">Volver atras</a>
    </form>
</div>
