﻿@model SoloMastersWeb.Models.MasterPost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MasterPost</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Titulo del servicio
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.masterPostTitle)
        </dd>
        <dt class="col-sm-2">
            Descripcion :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.masterPostDescription)
        </dd>
        <dt class="col-sm-2">
            Usuario-Maestro:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.masterOwner)
        </dd>
        <dt class="col-sm-2">
            Fecha de publicacion
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.masterPostDate)
        </dd>
        <dt class="col-sm-2">
            Foto de trabajo:

        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.imgUrl)" height="200" width="300" />
        </dd>
    </dl>
</div>
<hr />
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model.masterPostId" class="btn btn-warning" style="width:100%">Ir a editar</a>
    <hr />
    <a asp-action="Index" class="btn btn-dark" style="width:100%">volver atras</a>
</div>
