﻿@model SoloMastersWeb.Models.MasterPost

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar publicacion de servicio de Usuario-Maestro</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="masterPostId" />
            <div class="form-group">
                <label asp-for="masterPostTitle" class="control-label">Titulo</label>
                <input asp-for="masterPostTitle" class="form-control" />
                <span asp-validation-for="masterPostTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="masterPostDescription" class="control-label">Descripcion</label>
                <input asp-for="masterPostDescription" class="form-control" />
                <span asp-validation-for="masterPostDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                Usario relacionado (No modificable)
                <input asp-for="masterOwner" type="hidden" class="form-control" />
                <span asp-validation-for="masterOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                Fecha (No modificable)
                <input asp-for="masterPostDate" type="hidden" class="form-control" />
                <span asp-validation-for="masterPostDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imgUrl" class="control-label"></label>
                <input asp-for="imgUrl" class="form-control" />
                <span asp-validation-for="imgUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar datos" class="btn btn-warning" style="width:100%" id="create" />
                <a asp-action="Index" class="btn btn-dark" style="width:100%">volver atras</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
