﻿@model IEnumerable<SoloMastersWeb.Models.MasterPost>

@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron bg-warning" style="width:100%">
    <h1>Bienvenido Master 🚧</h1>
    <p>A continuación podrás ver los anuncios activos en la plataforma de todos los maestros</p>
</div>

<form asp-action="MasterOwnerPost">
    <input type="hidden" name="userFilter" value="@User.Identity.Name" />
    <input type="submit" value="Ver mis Servicios" class="btn btn-warning" style="width:100%" />
</form>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Ususario-Maestro
            </th>
            <th>
                Fecha de publicacion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.masterPostTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.masterOwner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.masterPostDate)
                </td>
            </tr>
        }
    </tbody>
</table>
