﻿@model IEnumerable<SoloMastersWeb.Models.MasterPost>

@{
    ViewData["Title"] = "MasterOwner";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<div class="jumbotron bg-warning" style="width:100%">
    <h1>Servicios de Master-@User.Identity.Name</h1>
    <p>Todos tus anuncios :</p>
</div>

<a asp-action="Create" class="btn btn-warning" style="width:100%">Publicar nuevo servicio</a>
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Ususario-Maestro
            </th>
            <th>
                Fecha de publicacion
            </th>
            <th>
               Ruta Foto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.masterPostTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.masterPostDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.masterOwner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.masterPostDate)
            </td>
            <td>
                -img/SoloMasters
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.masterPostId" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.masterPostId" class="btn btn-warning">Var mas</a> |
                <a asp-action="Delete" asp-route-id="@item.masterPostId" class="btn btn-warning">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
