﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="text-center">
        <div class="jumbotron bg-warning" style="width:100%">
            <h1>Bienvenido a SoloMasters.cl </h1>
            <p>El lugar donde estan los mejores maestros de chile !</p>
        </div>
        <!--Carrusel de imagenes-->
        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/masters-1.jpg" alt="Los Angeles" width="1100" height="500">
                    <div class="carousel-caption">
                        <h3>sugart.cl</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/img/masters-2.jpg" alt="Chicago" width="1100" height="500">
                    <div class="carousel-caption">
                        <h3>sugart.cl</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/img/masters-3.jpg" alt="New York" width="1100" height="500">
                    <div class="carousel-caption">
                        <h3>sugart.cl</h3>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <br />
        <div class="card" id="card1" style="width:300px">
            <img class="card-img-top" src="~/img/masters-1.jpg" alt="Card image" style="width:100%" height="250">
            <div class="card-body bg-warning">
                <h4 class="card-title">1- Encuentra trabajos rápidamente ⚡</h4>
                <p>Si eres maestro podrás ofrecer tus servicios y los clientes ce contactarán! Tambien podrás ver anuncios de trabajos relacionados tus habilidades</p>
                <a class="btn btn-dark text-warning" style="width:100%" asp-area="" asp-controller="ClientPosts" asp-action="MasterView">Ver más 👀</a>
            </div>
        </div>

        <div class="card" id="card2" style="width:300px">
            <img class="card-img-top" src="~/img/masters-1.jpg" alt="Card image" style="width:100%" height="250">
            <div class="card-body bg-warning">
                <h4 class="card-title">2- Contacta maestros profesionales 🚧</h4>
                <p>
                    Si necesitas encontrar un albañil profesional en SoloMasters® podrás encontrar toda la información necesaria y mucho más
                    Obtendrás calidad en un solo click.
                </p>
                <a class="btn btn-dark text-warning" style="width:100%" asp-area="" asp-controller="ClientPosts" asp-action="Index">Ver más 👀</a>
            </div>
        </div>

        <div class="card" id="card3" style="width:300px">
            <img class="card-img-top" src="~/img/masters-1.jpg" alt="Card image" style="width:100%" height="250">
            <div class="card-body bg-warning">
                <h4 class="card-title">3- Se parte de la comunidad 👷‍♂️</h4>
                <p>En el foro de SoloMasters ® podrás hacer preguntas, pedir recomendaciones y entre otros, Recibirás ayuda de la comunidad para realizar tu proyecto :)</p>
                <a class="btn btn-dark text-warning" style="width:100%" asp-area="" asp-controller="#" asp-action="#">Ver más 👀</a>
            </div>
        </div>
    </div>
 </div>
