﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Sobre SoloMasters</h1>

<p>
    El tener un lugar donde se pueda habitar es algo esencial, ya sea que una persona sea dueña o arrendataria de una propiedad es probable que en más de una ocasión ha tenido la necesidad de realizar alguna reparación, mantención, ampliación o proyecto en el hogar. Sin embargo, en la mayoría de los casos se suele carecer de tiempo, o conocimientos para solucionar alguno de los problemas antes mencionados.
    Ante esa situación tan común, la solución que parece la mejor opción es contactar a un trabajador que se dedique al rubro de la construcción, y es en esta parte es donde comienzan los problemas.

    Primero, no es fácil conseguir un contacto de un albañil ya que no hay un lugar especializado en internet para aquello. La otra opción es buscar en el diario o en ficheros algún anuncio de un albañil, no obstante, esta opción es bastante lenta. La ultima opción es llamar a los contactos consultando si se tiene conocimiento de alguien realice este tipo de trabajos. Todas estas opciones se resumen en que el hecho de buscar un albañil es lento y difícil.

    Segundo, cuando se logra contactar al trabajador el problema es que no se tiene mucha información sobre él, en el mejor de los casos el nombre y número. El tener poca información sobre el trabajador es sumamente peligroso ya que no sabemos cual es la calidad de su trabajo, tampoco que tan responsable es, ni como trata a sus clientes.

    Tercero, por el lado de los albañiles se puede mencionar que no suelen contar con estabilidad laboral, existen periodos (a veces prolongados) en que los maestros no logran encontrar siquiera una oportunidad laboral. No cuentan con un espacio dedicado para su rubro donde puedan publicitar sus servicios y generar más oportunidades laborales.

    Es en estos puntos en que “Solomasters” se centrara para beneficiar a los maestros de calidad y a los buenos clientes.


    3.2	Propuesta de solución

    Dada la problemática presentada anteriormente la solución que se propone es la siguiente:
    Crear una aplicación web dedicada específicamente a la oferta y demanda de maestros. Las principales características de la solución a desarrollar son:
    Un espacio donde los maestros puedan ofrecer sus servicios mediante avisos, mencionar los trabajos donde se desempeña de mejor manera, años de experiencia, fotografías de sus trabajos, experiencias con clientes anteriores, etc…
    Esta información aportará al perfil del usuario y con el tiempo se generará un historial de este. Al momento que los usuarios otros deseen contactarlo tendrán mucha mas de la información necesaria para saber si es la persona que necesitan para su trabajo.

    Por otro lado, los usuarios tipo cliente o empleador podrán realizar una búsqueda por filtros dentro de la plataforma y así encontrar un maestro que se ajuste perfectamente a sus necesidades lo más rápido posible.

    Finalmente, la plataforma “Solomasters” aparte de lo antes mencionado contará con un diseño Mobile First (Pensado principalmente para el uso en smartphones) para facilitar la navegación. “Solomasters” también contará con un sistema de puntuación para los 2 tipos de usuarios principales que influirá en el uso de la plataforma ya que podrá ser más recomendado si tiene una buena puntuación o menos recomendado si no obtiene buena puntuación e historial.
    También se espera integrar un chat para que los usuarios no deban usar aplicaciones de 3ros y se puedan comunicar de manera mas rápida.

    En cuanto al apartado económico, la plataforma se financiará principalmente con publicidad personalizada (relacionada con el rubro) y con cuentas de usuarios “premium” que obtendrán funcionalidades mejoradas respecto a los usuarios regulares.
</p>
