﻿@model SoloMastersWeb.Models.ClientPost

@{
    ViewData["Title"] = "Create";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<h1>Crear una nueva solicitud de maestros</h1>
<p>(Tu nombre de usuario y la fecha de publicacion se agrega automaticamanete)</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="clientPostTitle" class="control-label">Titulo</label>
                <input asp-for="clientPostTitle" class="form-control" />
                <span asp-validation-for="clientPostTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clientPostdescription" class="control-label">Descripcion</label>
                <input asp-for="clientPostdescription" class="form-control" placeholder="describe el servicio que necesitas"/>
                <span asp-validation-for="clientPostdescription" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="clientOwner" type="hidden" value="@User.Identity.Name" />
                <span asp-validation-for="clientOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="clientePostDate"  type="hidden" value="@DateTime.Now" />
                <span asp-validation-for="clientePostDate" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="submit" value="Create" class="btn btn-warning" style="width:100%" id="create" />
                <a asp-action="Index" class="btn btn-dark text-warning" style="width:100%">volver atras</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
