﻿@model SoloMastersWeb.Models.ClientPost

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Anuncio o solicitud de maestro</h1>
<h3 class="text-danger">Aviso : Esta accion eliminara tu aviso permanentemente!</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Titulo del aviso
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.clientPostTitle)
        </dd>
        <dt class="col-sm-2">
            Descripcion :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.clientPostdescription)
        </dd>
        <dt class="col-sm-2">
            Usuario relacionado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.clientOwner)
        </dd>
        <dt class="col-sm-2">
            Fecha de publicacion
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.clientePostDate)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="clientPostId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" style="width:100%" />
        <hr />
        <a asp-action="Index" class="btn btn-dark" style="width:100%">Volver atras</a>
    </form>
</div>
