﻿@model SoloMastersWeb.Models.ClientPost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="bg-warning">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Titulo del aviso
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.clientPostTitle)
        </dd>
        <dt class="col-sm-2">
            Descripcion :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.clientPostdescription)
        </dd>
        <dt class="col-sm-2">
            Usuario-cliente:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.clientOwner)
        </dd>
        <dt class="col-sm-2">
            Fecha de publicacion
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.clientePostDate)
        </dd>
    </dl>
</div>
<hr />
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model.clientPostId" class="btn btn-warning" style="width:100%">Ir a editar</a> |
    <hr />
    <a asp-action="Index" class="btn btn-dark" style="width:100%">volver atras</a>
</div>
