﻿@model SoloMastersWeb.Models.ClientPost

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar anuncio Ususario-Cliente o solicitud de maestro </h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="clientPostId" />
            <div class="form-group">
                <label asp-for="clientPostTitle" class="control-label">Titulo</label>
                <input asp-for="clientPostTitle" class="form-control" />
                <span asp-validation-for="clientPostTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clientPostdescription" class="control-label">Descripcion</label>
                <input asp-for="clientPostdescription" class="form-control" />
                <span asp-validation-for="clientPostdescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                Usario relacionado (No modificable)
                <input asp-for="clientOwner" class="form-control" />
                <span asp-validation-for="clientOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                Fecha (No modificable)
                <input asp-for="clientePostDate" class="form-control" />
                <span asp-validation-for="clientePostDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar datos" class="btn btn-warning" style="width:100%" id="create" />
                <a asp-action="Index" class="btn btn-dark" style="width:100%">volver atras</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
