﻿@model IEnumerable<SoloMastersWeb.Models.ClientPost>

@{
    ViewData["Title"] = "IndexOwner";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<div class="jumbotron bg-warning" style="width:100%">
    <h1>Anuncios de Cliente-@User.Identity.Name</h1>
    <p>Todos tus anuncios :</p>
</div>

<a asp-action="Create" class="btn btn-dark text-warning" style="width:100%">Crear nuevo aviso</a>
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Mail
            </th>
            <th>
               Fecha de publicacion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.clientPostTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clientPostdescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clientOwner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clientePostDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.clientPostId" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.clientPostId" class="btn btn-warning">Var mas</a> |
                    <a asp-action="Delete" asp-route-id="@item.clientPostId" class="btn btn-warning">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
