﻿@model IEnumerable<SoloMastersWeb.Models.ClientPost>

@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron bg-warning" style="width:100%">
    <h1>Bienvenido Cliente 😎</h1>
    <p>A continuación podras ver los anuncios activos en la plataforma de todos los usuarios</p>
</div>

<form asp-action="ClientOwnerPosts">
    <input type="hidden" name="userFilter" value="@User.Identity.Name" />
    <input type="submit" value="Ver mis anuncios" class="btn btn-dark text-warning" style="width:100%" />
</form>
<br />

<table class="table">
    <thead>
        <tr>
            <th>            
                Titulo
            </th>
            <th>
                Usuario-Cliente
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.clientPostTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clientOwner)
            </td>
        </tr>
        }
    </tbody>
</table>