﻿@model SoloMastersWeb.Models.ClientPost

@{
    ViewData["Title"] = "MasterDetails";
}

<h1>Detalles del aviso</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Titulo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.clientPostTitle)
        </dd>
        <dt class="col-sm-2">
            Descripcion
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.clientPostdescription)
        </dd>
        <dt class="col-sm-2">
            Contacto-Cliente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.clientOwner)
        </dd>
        <dt class="col-sm-2">
            Fecha de publicacion
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.clientePostDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="" asp-controller="ClientPosts" asp-action="MasterView" class="btn btn-dark text-warning" style="width:100%">Volver atras</a>
</div>
