﻿@model IEnumerable<SoloMastersWeb.Models.ClientPost>


@{
    ViewData["Title"] = "MasterView";
}


<div class="jumbotron bg-warning" style="width:100%">
    <h1>Bienvenido Maestro 👷‍♂️ </h1>
    <h3>A continuacion podras ver todos los anuncios disponibles para ti !</h3>
    <p>  Buscador :</p>
    <form asp-action="BuscadorAviso">
        <div class="form-group">
            <label for="PalabraBuscada" class="control-label"></label>
            <input name="PalabraBuscada" class="form-control" placeholder="Ingresa palabra clave" />
            <br />
            <input type="submit" value="Buscar" class="btn btn-dark text-warning" style="width:100%" />
        </div>
    </form>
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Usuario-Cliente
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.clientPostTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clientOwner)
                </td>
                <td>
                    <a asp-action="MasterDetails" asp-route-id="@item.clientPostId" class="btn btn-warning" style="width:100%">Var mas 👀</a>
                </td>
            </tr>
        }
    </tbody>
</table>
